.App {
  /* display: grid;
  grid-template-areas: 
    "logo navbar"
    "sidebar content"; */
  font-size: 32px;
  line-height: 32px;
  font-family: 'Oswald';
  /* grid-template-rows: 2fr 4fr;
  grid-auto-columns: 2fr 6fr; */
}

.header {
  display: flex;
  
}
